/*max-width:1269px*/

@media screen and (max-width:1269px){
    header .center{
        position: relative;
    }
    .menu{
        top:103%;
        left:0;
        z-index: 5;
        position: absolute;
        width: 100%;
        background: #113B5F;
        display: block;
        margin:0;
    }
    .menu__list{
        padding: 10px 0;
        display: flex;
        flex-direction: column;
    }
    .menu__list-item{
        padding: 5px 0;
    }
    .menu__link{
        text-decoration: none;
        font-size: 2rem;
        color:#fff;
        padding:0 0 0 5%;
    }
        .menu__link:hover{
        text-decoration:underline;
    
    }
}


/*max-width:745px*/
@media screen and (max-width:745px){
    .menu{
        top:30%;
    }
    
}